MAKE CALENDAR
{
    "name": "Agenda SOAP",
    "flow": [
        {
            "id": 5,
            "module": "microsoft-calendar:watchEvents",
            "version": 2,
            "parameters": {
                "limit": 100,
                "filter": [],
                "select": "update",
                "calendar": "AAMkAGRmODcyNzFhLTlmNDQtNDRmMy05MjY4LTFlYmYxZTdmMTQ0NgBGAAAAAABPT19N5KrSQpe0rYeThLpDBwDw8jOjygyeQozvGz5PXCX6AAAAAAEGAADw8jOjygyeQozvGz5PXCX6AAAAAHDkAAA=",
                "__IMTCONN__": 1659525,
                "calendarGroup": "AAMkAGRmODcyNzFhLTlmNDQtNDRmMy05MjY4LTFlYmYxZTdmMTQ0NgBGAAAAAABPT19N5KrSQpe0rYeThLpDBwDw8jOjygyeQozvGz5PXCX6AAAAAAEGAADw8jOjygyeQozvGz5PXCX6AAAAAHDjAAA="
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 450
                },
                "restore": {
                    "parameters": {
                        "select": {
                            "label": "By Updated Time"
                        },
                        "calendar": {
                            "label": "Calendário"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "SOAP (Max Pena)"
                        },
                        "calendarGroup": {
                            "label": "Meus Calendários"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Watch Events",
                        "required": true,
                        "validate": {
                            "enum": [
                                "create",
                                "update"
                            ]
                        }
                    },
                    {
                        "name": "calendarGroup",
                        "type": "select",
                        "label": "Calendar Group ID"
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": [
                                {
                                    "label": "Subject",
                                    "value": "subject"
                                },
                                {
                                    "label": "Event ID",
                                    "value": "id"
                                },
                                {
                                    "label": "Body Preview",
                                    "value": "bodyPreview"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Available operators",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "eq"
                                        },
                                        {
                                            "label": "Not equals",
                                            "value": "ne"
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "gt"
                                        },
                                        {
                                            "label": "Greater than or equals",
                                            "value": "ge"
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "lt"
                                        },
                                        {
                                            "label": "Less than or equals",
                                            "value": "le"
                                        },
                                        {
                                            "label": "Starts with",
                                            "value": "startsWith"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "contains"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "calendar",
                        "type": "select",
                        "label": "Calendar ID"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "microsoft-calendar:makeApiCall",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 1659525
                            },
                            "filter": {
                                "name": "TEM ANEXO",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.hasAttachments}}",
                                            "o": "text:equal",
                                            "b": "true"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "url": "/v1.0/me/events/{{5.id}}/attachments",
                                "method": "GET",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/json"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "SOAP (Max Pena)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "azure"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "method": {
                                            "mode": "chose",
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "qs": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:azure",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "type": "array",
                                        "label": "Headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "qs",
                                        "type": "array",
                                        "label": "Query String",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "google-calendar:searchEvents",
                            "version": 5,
                            "parameters": {
                                "__IMTCONN__": 504650
                            },
                            "mapper": {
                                "q": "{{5.id}}",
                                "limit": "10",
                                "calendar": "max@mxpdigital.com",
                                "singleEvents": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "orderBy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "calendar": {
                                            "mode": "chose",
                                            "label": "Max MXP - NEW (Primary Calendar)"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "max@mxpdigital.com (max@mxpdigital.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "timeMin",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Date"
                                    },
                                    {
                                        "name": "timeMax",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Date"
                                    },
                                    {
                                        "name": "updatedMin",
                                        "time": true,
                                        "type": "date",
                                        "label": "Updated from"
                                    },
                                    {
                                        "name": "singleEvents",
                                        "type": "boolean",
                                        "label": "Single Events",
                                        "required": true
                                    },
                                    {
                                        "name": "q",
                                        "type": "text",
                                        "label": "Query"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order By",
                                        "validate": {
                                            "enum": [
                                                "startTime",
                                                "updated"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "calendar",
                                        "type": "select",
                                        "label": "Calendar ID",
                                        "required": true
                                    },
                                    {
                                        "name": "timeMin",
                                        "time": true,
                                        "type": "date",
                                        "label": "Start Date"
                                    },
                                    {
                                        "name": "timeMax",
                                        "time": true,
                                        "type": "date",
                                        "label": "End Date"
                                    },
                                    {
                                        "name": "updatedMin",
                                        "time": true,
                                        "type": "date",
                                        "label": "Updated from"
                                    },
                                    {
                                        "name": "singleEvents",
                                        "type": "boolean",
                                        "label": "Single Events",
                                        "required": true
                                    },
                                    {
                                        "name": "q",
                                        "type": "text",
                                        "label": "Query"
                                    },
                                    {
                                        "name": "orderBy",
                                        "type": "select",
                                        "label": "Order By",
                                        "validate": {
                                            "enum": [
                                                "startTime",
                                                "updated"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "limit",
                                        "type": "uinteger",
                                        "label": "Limit"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "ID_GOOGLE",
                                "scope": "roundtrip",
                                "value": "{{11.id}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "ID_GOOGLE",
                                        "type": "any",
                                        "label": "ID_GOOGLE"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "parameters": {
                                "else": 2
                            },
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 2,
                                            "module": "google-calendar:createAnEvent",
                                            "version": 5,
                                            "parameters": {
                                                "__IMTCONN__": 504650
                                            },
                                            "filter": {
                                                "name": "NOVO EVENTO",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{11.`__IMTLENGTH__`}}",
                                                            "b": "0",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "select": "detail",
                                                "calendar": "max@mxpdigital.com",
                                                "colorId": 2,
                                                "summary": "{{5.subject}}",
                                                "allDayEvent": "{{5.isAllDay}}",
                                                "start": "{{5.start.dateTime}}",
                                                "end": "{{5.end.dateTime}}",
                                                "description": "{{5.body.content}}\n\nLINK: {{5.webLink}}\nID:{{5.id}}",
                                                "location": "{{5.location.displayName}}",
                                                "transparency": "opaque",
                                                "visibility": "default",
                                                "guestsCanModify": false,
                                                "conferenceDate": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 300
                                                },
                                                "restore": {
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "label": "max@mxpdigital.com (max@mxpdigital.com)",
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            }
                                                        }
                                                    },
                                                    "expect": {
                                                        "select": {
                                                            "label": "In Detail"
                                                        },
                                                        "calendar": {
                                                            "mode": "chose",
                                                            "label": "Max MXP - NEW (Primary Calendar)"
                                                        },
                                                        "colorId": {
                                                            "mode": "chose",
                                                            "label": "#7ae7bf (#1d1d1d)"
                                                        },
                                                        "allDayEvent": {
                                                            "mode": "edit"
                                                        },
                                                        "overrides": {
                                                            "mode": "chose"
                                                        },
                                                        "attendees": {
                                                            "mode": "edit"
                                                        },
                                                        "transparency": {
                                                            "mode": "chose",
                                                            "label": "Busy"
                                                        },
                                                        "visibility": {
                                                            "mode": "chose",
                                                            "label": "Default"
                                                        },
                                                        "sendUpdates": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "recurrence": {
                                                            "mode": "chose"
                                                        },
                                                        "conferenceDate": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "select",
                                                        "type": "select",
                                                        "label": "Create an Event",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "quick",
                                                                "detail"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "calendar",
                                                        "type": "select",
                                                        "label": "Calendar ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "colorId",
                                                        "type": "select",
                                                        "label": "Color"
                                                    },
                                                    {
                                                        "name": "summary",
                                                        "type": "text",
                                                        "label": "Event Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "allDayEvent",
                                                        "type": "boolean",
                                                        "label": "All Day Event",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "start",
                                                        "type": "date",
                                                        "label": "Start Date",
                                                        "required": true,
                                                        "time": true
                                                    },
                                                    {
                                                        "name": "end",
                                                        "type": "date",
                                                        "label": "End Date",
                                                        "time": true
                                                    },
                                                    {
                                                        "name": "duration",
                                                        "type": "time",
                                                        "label": "Duration"
                                                    },
                                                    {
                                                        "name": "description",
                                                        "type": "text",
                                                        "label": "Description"
                                                    },
                                                    {
                                                        "name": "location",
                                                        "type": "text",
                                                        "label": "Location"
                                                    },
                                                    {
                                                        "name": "useDefault",
                                                        "type": "boolean",
                                                        "label": "Use the default reminder settings for this event"
                                                    },
                                                    {
                                                        "name": "overrides",
                                                        "type": "array",
                                                        "label": "Reminders",
                                                        "validate": {
                                                            "maxItems": 5
                                                        },
                                                        "spec": [
                                                            {
                                                                "name": "method",
                                                                "type": "select",
                                                                "label": "Method",
                                                                "options": [
                                                                    {
                                                                        "label": "Email",
                                                                        "value": "email"
                                                                    },
                                                                    {
                                                                        "label": "Pop-up",
                                                                        "value": "popup"
                                                                    }
                                                                ],
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "minutes",
                                                                "type": "uinteger",
                                                                "label": "Minutes",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 40320
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "attendees",
                                                        "type": "array",
                                                        "label": "Attendees",
                                                        "spec": [
                                                            {
                                                                "name": "displayName",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "email",
                                                                "type": "email",
                                                                "label": "Email",
                                                                "required": true
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "transparency",
                                                        "type": "select",
                                                        "label": "Show me as",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "opaque",
                                                                "transparent"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "visibility",
                                                        "type": "select",
                                                        "label": "Visibility",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "default",
                                                                "public",
                                                                "private"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "sendUpdates",
                                                        "type": "select",
                                                        "label": "Send notifications about the event creation",
                                                        "validate": {
                                                            "enum": [
                                                                "all",
                                                                "externalOnly",
                                                                "none"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "guestsCanModify",
                                                        "type": "boolean",
                                                        "label": "Guests can modify the event",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "recurrence",
                                                        "type": "array",
                                                        "label": "Recurrence",
                                                        "spec": {
                                                            "type": "text",
                                                            "label": "Value",
                                                            "name": "value"
                                                        }
                                                    },
                                                    {
                                                        "name": "conferenceDate",
                                                        "type": "boolean",
                                                        "label": "Add Google Meet Video Conferencing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "type": "array",
                                                        "label": "Attachments",
                                                        "spec": [
                                                            {
                                                                "name": "fileUrl",
                                                                "type": "url",
                                                                "label": "File URL",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 13,
                                            "module": "google-calendar:deleteAnEvent",
                                            "version": 5,
                                            "parameters": {
                                                "__IMTCONN__": 504650
                                            },
                                            "filter": {
                                                "name": "CANCELADO",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{5.isCancelled}}",
                                                            "b": "true",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "event": "{{11.id}}",
                                                "calendar": "max@mxpdigital.com",
                                                "sendUpdates": "all"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 600
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "event": {
                                                            "mode": "edit"
                                                        },
                                                        "calendar": {
                                                            "mode": "chose",
                                                            "label": "Max MXP - NEW (Primary Calendar)"
                                                        },
                                                        "sendUpdates": {
                                                            "mode": "chose",
                                                            "label": "To All Guests"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "max@mxpdigital.com (max@mxpdigital.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "calendar",
                                                        "type": "select",
                                                        "label": "Calendar ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sendUpdates",
                                                        "type": "select",
                                                        "label": "Send notifications about the event deletion",
                                                        "validate": {
                                                            "enum": [
                                                                "all",
                                                                "externalOnly",
                                                                "none"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "event",
                                                        "type": "select",
                                                        "label": "Event ID",
                                                        "required": true
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 15,
                                            "module": "google-calendar:updateAnEvent",
                                            "version": 5,
                                            "parameters": {
                                                "__IMTCONN__": 504650
                                            },
                                            "filter": {
                                                "name": "Atualizações",
                                                "conditions": []
                                            },
                                            "mapper": {
                                                "end": "{{5.end.dateTime}}",
                                                "event": "{{16.ID_GOOGLE}}",
                                                "start": "{{5.start.dateTime}}",
                                                "append": false,
                                                "colorId": 2,
                                                "summary": "{{5.subject}}",
                                                "calendar": "max@mxpdigital.com",
                                                "location": "{{5.location.displayName}}",
                                                "allDayEvent": "{{5.isAllDay}}",
                                                "description": "{{5.body.content}}\n\nLINK Outlook: {{5.webLink}}\nID: {{5.id}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1500,
                                                    "y": 900
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "event": {
                                                            "mode": "edit"
                                                        },
                                                        "colorId": {
                                                            "mode": "chose",
                                                            "label": "#7ae7bf (#1d1d1d)"
                                                        },
                                                        "calendar": {
                                                            "mode": "chose",
                                                            "label": "Max MXP - NEW (Primary Calendar)"
                                                        },
                                                        "attendees": {
                                                            "mode": "chose"
                                                        },
                                                        "overrides": {
                                                            "mode": "chose"
                                                        },
                                                        "recurrence": {
                                                            "mode": "chose"
                                                        },
                                                        "visibility": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "allDayEvent": {
                                                            "mode": "edit"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        },
                                                        "sendUpdates": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        },
                                                        "transparency": {
                                                            "mode": "chose",
                                                            "label": "Empty"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "max@mxpdigital.com (max@mxpdigital.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "mode": "edit",
                                                        "name": "calendar",
                                                        "type": "select",
                                                        "label": "Calendar ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "colorId",
                                                        "type": "select",
                                                        "label": "Color"
                                                    },
                                                    {
                                                        "name": "summary",
                                                        "type": "text",
                                                        "label": "Event Name"
                                                    },
                                                    {
                                                        "name": "start",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Start Date"
                                                    },
                                                    {
                                                        "name": "end",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "End Date"
                                                    },
                                                    {
                                                        "name": "duration",
                                                        "type": "time",
                                                        "label": "Duration"
                                                    },
                                                    {
                                                        "name": "allDayEvent",
                                                        "type": "boolean",
                                                        "label": "All Day Event",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "description",
                                                        "type": "text",
                                                        "label": "Description"
                                                    },
                                                    {
                                                        "name": "location",
                                                        "type": "text",
                                                        "label": "Location"
                                                    },
                                                    {
                                                        "name": "useDefault",
                                                        "type": "boolean",
                                                        "label": "Use the default reminder settings for this event"
                                                    },
                                                    {
                                                        "name": "overrides",
                                                        "spec": [
                                                            {
                                                                "name": "method",
                                                                "type": "select",
                                                                "label": "Method",
                                                                "options": [
                                                                    {
                                                                        "label": "Email",
                                                                        "value": "email"
                                                                    },
                                                                    {
                                                                        "label": "Pop-up",
                                                                        "value": "popup"
                                                                    }
                                                                ],
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "minutes",
                                                                "type": "uinteger",
                                                                "label": "Minutes",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 40320
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Reminders",
                                                        "validate": {
                                                            "maxItems": 5
                                                        }
                                                    },
                                                    {
                                                        "name": "attendees",
                                                        "spec": [
                                                            {
                                                                "name": "displayName",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "email",
                                                                "type": "email",
                                                                "label": "Email",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Attendees"
                                                    },
                                                    {
                                                        "name": "append",
                                                        "type": "boolean",
                                                        "label": "Append the Attendees",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "transparency",
                                                        "type": "select",
                                                        "label": "Show me as",
                                                        "validate": {
                                                            "enum": [
                                                                "opaque",
                                                                "transparent"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "visibility",
                                                        "type": "select",
                                                        "label": "Visibility",
                                                        "validate": {
                                                            "enum": [
                                                                "default",
                                                                "public",
                                                                "private"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "sendUpdates",
                                                        "type": "select",
                                                        "label": "Send notifications about the event creation",
                                                        "validate": {
                                                            "enum": [
                                                                "all",
                                                                "externalOnly",
                                                                "none"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "guestsCanModify",
                                                        "type": "boolean",
                                                        "label": "Guests can modify the event"
                                                    },
                                                    {
                                                        "name": "recurrence",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "text",
                                                            "label": "Value"
                                                        },
                                                        "type": "array",
                                                        "label": "Recurrence"
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": [
                                                            {
                                                                "name": "fileUrl",
                                                                "type": "url",
                                                                "label": "File URL",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "event",
                                                        "type": "select",
                                                        "label": "Event ID",
                                                        "required": true
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}
